<!DOCTYPE html>
<html>

<head>
    <title>Hello Vue!</title>
    <meta charset='utf-8'>
    <!-- <link rel='stylesheet' type='text/css' href='./main.css'> -->
    <script type="text/javascript" src='./js/vue.js'></script>
    <script type="text/javascript" src='./component/taskTable.js' defer></script>
    <script type="text/javascript" src='./js/main.js' defer></script>
</head>

<body>
    <div id="todo-app">
        <table>
            <tr>
                <th align="left" colspan="2"><h1>タスクリスト</h1></th>
            </tr>
            <tr>
                <td valign="top" width="280px">
                    <p>タスク名：<input v-model="record.name"></p>
                    <p>開始日：　<input type="datetime-local" v-model="record.start"></p>
                    <p>期限日：　<input type="datetime-local" v-model="record.end"></p>
                    <p>
                        場所：　&ensp;
                        <select v-model="record.place">
                            <option v-for="item in placeList" v-bind:value="item">
                                {{ item }}
                            </option>
                        </select>
                    </p>
                    <p>
                        優先度：&ensp;
                        <template v-for="item in priorityList">
                            <input type="radio" v-bind:id="item.id" v-bind:value="item.value" v-model="record.priority">
                            <label v-bind:for="item.id">{{ item.value }}</label>
                        </template>
                    </p>
                    <p>
                        <button v-on:click="onClick">
                            <div v-if="record.index === null">
                                登録
                            </div>
                            <div v-else>
                                更新
                            </div>
                        </button>
                        <button v-on:click="clearRecord">クリア</button>
                    </p>
                </td>
                <td valign="top">
                    <task-table
                        v-bind:task-list="taskList"
                        v-on:on-row-click="onRowClick"
                    ></task-table>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>
